@import "tailwindcss";



@theme {
  --color-primary: #4F46E5;
  --color-secondary: #10B981;
  --color-background: #F3F4F6;
  --color-surface: #FFFFFF;
}
 

@layer base {
body {
  /* Ensure your tailwind bundler compiler correctly recognizes the generated bg- utility */
  @apply bg-background text-gray-900 antialiased;
}
}